<html>
<head>
<style>body{font-family: Helvetica, sans-serif}</style>
</head>
<body>
	<div id="main">
	<a href="<%= siteURL %>"><img src="<%= url.resolve(siteURL, 'resource/images/logo.png')%>" alt="OpenHIE ID"></a>
	<h2>Your OpenHIE ID (<%= username %>) is nearly ready!</h2>
	
<p><%= displayName %>,</p>	

<p>Thanks for signing up for an OpenHIE ID, your key to accessing our online tools and services.</p>

<p>To finish configuring your ID, we need to verify this email address. To verify your address, go to the following page:</p>
<p><a href="<%= url.resolve(siteURL, '/'+urlBase+'/'+verifyId) %>"><%= url.resolve(siteURL, '/'+urlBase+'/'+verifyId) %></a></p>

<p>In case of problems logging in or signing up, please email us at <a href="mailto:support@ohie.org">support@ohie.org</a> &mdash; remember to include your contact information so we can assist you.</p>

<p>If you didn't sign up for an OpenHIE ID, don't worry. This is the only message we will send to this address.</p>

<p>Thanks and welcome!</p>
	</div>
</body>
</html>
